<form name="form" action="/" method="POST">
	<input type="text" name="url" />
	<input type="submit" value="Shorten URL" />
</form>
<% if defined?@short %>
	<p>Shorter url: <a href="<%= @short %>"><%= @short %></a></p>
<% end %>
<% if defined?@stats %>
	<a href="<%= @stats %>">Statistics</a>
<% end %>
<% if defined?@messages and @messages.any? %>
	<ul>
		<% for @msg in @messages %>
			<li><%= @msg[0] %></li>
		<% end %>
	</ul>
<% end %>
